:root {
  --radius: 0.625rem;
  --background: #1A1A2E;
  --foreground: #FFFFFF;
  --card: #FAFAFA;
  --card-foreground: #1A1A2E;
  --popover: #FAFAFA;
  --popover-foreground: #1A1A2E;
  --primary: #E91E63;
  --primary-foreground: #FFFFFF;
  --secondary: #FF6F00;
  --secondary-foreground: #FFFFFF;
  --muted: #6B7280;
  --muted-foreground: #6B7280;
  --accent: #E91E63;
  --accent-foreground: #FFFFFF;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.984 0.003 247.858);
  --border: #33334d;
  --input: #33334d;
  --ring: #E91E63;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}
